@import "../../base.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 3rem;

  background-color: $black-primary;

  height: 10vh;
  width: 100%;

  position: fixed;
  top: 0;

  z-index: 999;
  &_menu {
    display: none;
  }

  &_logo {
    cursor: pointer;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bolder;
    color: rgba(54, 195, 207, 0.8);
    &:hover {
      color: rgba(64, 161, 170, 0.8);
      transition: all 0.3s ease-in;
    }

    span {
      color: rgb(223, 223, 53);

      &:hover {
        color: rgb(233, 233, 171);
        transition: all 0.3s ease-in;
      }
    }
  }

  form {
    flex: 0.6;
    display: flex;
    padding: 0.1rem;
    margin: 0 1rem;
    border-radius: 3px;
    border: 1.2px solid;
    background-color: $black-secondary;

    input {
      width: 100%;
      border: none;
      font-weight: 500;
      background: transparent;
      padding: 0.3rem;
      color: $text-color;

      &:focus {
        outline: none;
      }
    }

    button {
      padding: 0 1.25rem;
      color: $text-color;
      background: transparent;
      border: none;
      &:focus {
        border: none;
      }
    }
  }

  &_icons {
    flex: 0.15;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      border-radius: 50%;
      width: 40px;
      object-fit: contain;
      margin-left: 5px;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .header {
    padding: 1rem;

    form {
      flex: 1;
    }

    &_menu {
      display: block;
    }
    &_logo {
      display: none;
    }

    &_icons > *:not(img) {
      display: none;
    }
  }
}
